<plugin name='cassandra-astyanax' version='0.0.8' grailsVersion='1.3.7 &gt; *'>
  <author>Bob Florian</author>
  <authorEmail>bob.florian@reachlocal.com</authorEmail>
  <title>Astyanax Cassandra Client</title>
  <description>\
This plugin exposes the Astyanax Cassandra client as a Grails service and adds dynamic methods to make using it from
Groovy more convenient.
</description>
  <documentation>http://grails.org/plugin/cassandra-astyanax</documentation>
  <type>CassandraAstyanaxGrailsPlugin</type>
  <resources>
    <resource>com.reachlocal.grails.plugins.cassandra.astyanax.AstyanaxService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='com.netflix.astyanax' name='astyanax' version='1.0.3' />
    </compile>
    <runtime>
      <dependency group='com.github.stephenc.high-scale-lib' name='high-scale-lib' version='1.1.1' />
      <dependency group='com.github.stephenc.eaio-uuid' name='uuid' version='3.2.0' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>