<plugin name='cassandra-astyanax' version='0.4.5' grailsVersion='2.0.0 &gt; *'>
  <author>Bob Florian</author>
  <authorEmail>bob.florian@reachlocal.com</authorEmail>
  <title>Astyanax Cassandra Client</title>
  <description>This plugin exposes the Astyanax Cassandra client as a Grails service and adds dynamic methods
to make using it from Groovy more convenient.  It also implements the interface defined by the cassandra-orm plugin
that provides GORM-like dynamic methods for storing Groovy objects and relationships in Cassandra.
Note that this plugin does not implement the GORM API.
</description>
  <documentation>http://bflorian.github.io/cassandra-astyanax/</documentation>
  <type>CassandraAstyanaxGrailsPlugin</type>
  <resources>
    <resource>com.reachlocal.grails.plugins.cassandra.astyanax.AstyanaxService</resource>
  </resources>
  <repositories>
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='grailsCentral' url='http://grails.org/plugins' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.spockframework' name='spock-grails-support' version='0.7-groovy-2.0' />
    </test>
    <compile>
      <dependency group='com.netflix.astyanax' name='astyanax-thrift' version='1.56.44' />
      <dependency group='com.netflix.astyanax' name='astyanax-cassandra' version='1.56.44' />
      <dependency group='com.netflix.astyanax' name='astyanax-core' version='1.56.44' />
    </compile>
    <runtime>
      <dependency group='com.github.stephenc.eaio-uuid' name='uuid' version='3.2.0' />
      <dependency group='com.github.stephenc.high-scale-lib' name='high-scale-lib' version='1.1.1' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>